<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{github.description}}">
  <meta name="author" content="{{ github.user }}">

  <link rel="stylesheet" href="{{ baseUrl }}/css/normalize.css">
  <link rel="stylesheet" href="{{ baseUrl }}/css/milligram.min.css">
  <link rel="stylesheet" href="{{ baseUrl }}/css/ovac-couscous.css">
  <link rel="stylesheet" href="{{ baseUrl }}/css/emojifyBase.min.css">
  <link rel="stylesheet" href="{{ baseUrl }}/css/emojify.min.css">
  <link rel="stylesheet" href="{{ baseUrl }}/css/emojify-emoticons.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TWFSSDL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <nav id="menu" class="panel" role="navigation">
        <h5>Table of Contents</h5>
        {% block menu %}
        <ul>
            {% for section in menu.sections %}
                <p class="text-muted">
                    {{ section.name }}
                </p>

                <ul class="nav nav-pills nav-stacked">
                    {% for itemId, item in section.items %}
                        <li class="{{ itemId == currentMenu ? 'active' }}">
                            <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                                {{ item.text|raw }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}

            {% for itemId, item in menu.items %}
            <li data-relative="{{item.relativeUrl}}">
                <a
                href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                {{ item.text|raw }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endblock %}
    </nav>
    <div class="push">
        <header>
            <a href="#menu" class="menu-link">&#9776;</a>
            <h1>{{ title }}</h1>
        </header>
        <div class="container">
            {% block content %}
                {{content|raw}}
            {% endblock %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ baseUrl }}/js/emojify.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script src="{{ baseUrl }}/js/bigSlide.js"></script>
    <script src="{{ baseUrl }}/js/hide-on-scroll.js"></script>
    <script>
    $(document).ready(function() {
        $('.menu-link').bigSlide({
            'easyClose': true
        });
    });
    </script>

    {% block widgets %}
        {% if widgets.addthis %}
            <!-- Addthis widgets. Visit https://www.addthis.com for yours-->
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ widgets.addthis }}"></script>
        {% endif %}

        {% if widgets.googletag %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer', '{{ widget.googletag }}');</script>
        <!-- End Google Tag Manager -->
        {% endif %}

        {% if widgets.googleAnalytics %}
            <!-- Google Analytics -->
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ googleAnalytics }}', 'auto');
                ga('send', 'pageview');
            </script>
            <!-- End Google Analytics -->
        {% endif %}

    {% endblock %}

</body>
</html>
